extends base.pug

block title 
  title= name
    |  Contact Me

block content
  br
  br
  | Do you want to contact me regarding one of my projects, contract work, or long-term employment?
  | You can use the information below to reach me.
  br
  | Please don't hesitate to reach out, but please only send one email at a time at the most. 
  | I receive a high volume of messages daily, and would like to respond to as many as possible! 
  h2 Contract Work 
  span I am currently 
  b accepting contract work in a limited capacity.
  br
  br
  | Please reach out to 
  a(href="mailto:contracts@phallbick.co", data-path="A:\\MAIL\\CONTRAC~.COM") contracts@phallbick.co 
  | with any inquiries related to hiring me on contract, and include any information 
  | you are able to regarding timeframe, budget, and existing project plans.
  br
  | I will respond as I am able, generally within 2 business days.
  h2 Professional Inquiries 
  b I am currently actively seeking new employment.
  br
  br
  | If you are interested in consultation or hiring me long-term, please contact me at 
  a(href="mailto:patrick.hallbick@outlook.com", data-path="A:\\MAIL\\HIRING.COM") patrick.hallbick@outlook.com 
  | and I will be happy to respond as soon as I am able. 
  h2 Other Inquiries 
  | If you would like to contact me about one of my ongoing projects or something else,
  | feel free to reach out to 
  a(href="mailto:info@phallbick.co", data-path="A:\\MAIL\\INFO.COM") info@phallbick.co 
  | or check out 
  a(href="https://ssblur.com/contact.html", , data-path="A:\\MAIL\\OTHER.LNK") the contact page on my project site.

