extends base.pug

block title 
  title= name
    |  Home

block content
  br
  br
  | Welcome to my site! I'm 
  = name
  | , a professional software engineer and hobbyist modder, video editor, and voice actor.
  | Here you can find information about projects I've worked on, contact information, and 
  | work experience, as well as some smaller things I enjoy.
  br
  | Below, you can check out my 
  a(href='https://github.com/ssblur' title='Github', data-path="GITHUB.LNK")
      +icon('social-github')
      | Github
  | , or you can see a quick summary of a number of my projects by clicking 
  a(href='projects.html' title='Projects', data-path="C:\\PROJ") Projects 
  | in the navigation bar.
  .links 
    a(href="https://github.com/ssblur").big-link
        img(src="style/images/github.png", alt="GitHub").big-logo
        span(data-path="GITHUB.LNK") GitHub
  br
  | Do you want to get in touch with me?
  | Check out the 
  a(href="/contact.html", data-path="C:\\CONTACT.TXT") Contact 
  | section and I'll get back to you as soon as I'm able.
  h2 About Me 
  | I've been a career software engineer for over 5 years, and have worked professionally in development  
  | for over 10. 
  | I specialize in continuous integration and deployment, technical communication, and heuristic analysis.
  br
  br
  | In my time in-field I've worked with a number of languages and technologies, though I am generally 
  | most familiar with Rust, C++, and Python for systems development, Python and JavaScript for serverless and 
  | distributed deployment, and Svelte, Vue, and React for front-end web development.
  | I have worked in a more limited capacity with C#, Java, Kotlin, PHP, Perl, and a number of smaller or domain-specific 
  | languages and technologies.
  h2 About This Site 
  | This site is a derivative of a personal project and portfolio piece of mine.
  | It is a static site generated using Node + Pug and deployed automatically to AWS via S3, 
  | where it is routed through CloudFront.
  br
  br
  | As a matter of design, this site intentionally uses no JavaScript and only relatively standardized CSS features.