extends base.pug

block title 
  title= name
    |  Resumé

block content
  h1 
    =name
    |, 
    small.er Software Engineer and Data Scientist with a Bachelor's of Science in Computer Science
  h2 Contact
  div.indented
    b.ig Email - 
    a(href="mailto:juniper@junihall.com") juniper@junihall.com
    |  - Please feel free to reach out with any questions or offers related to employment!
  br
  div.indented
    b.ig Phone - 
    | Please contact me at the listed email address if you'd like to reach me by phone.
  h2 Career
  div.indented
    b.ig Senior Software Engineer 
    small (Capital One, 2021-2025)
    div 
      | In this role I managed 
      b application deployment 
      | for an application and website with millions of users, worked to 
      b improve developer experience 
      | for teams working on numerous projects within the company, and maintained 
      b API documentation 
      | and 
      b coding guidelines 
      | for projects from my team.
  br
  div.indented
    b.ig Senior Software Developer 
    small (DataGroup Technologies, 2020-2021)
    div 
      | In this role I worked on 
      b new feature development 
      | and 
      b standards adherence 
      | for medical software used at dozens of sites across the country. 
      | Additionally, I led
      b product development 
      | for this and other products produced by the company and 
      b trained users 
      | on software usage and security. 
      | While in the role I also performed 
      b server maintenance and administration 
      | work, keeping machines on-premises functioning and deploying new ones 
      | to maintain services for our clients.
  br
  div.indented
    b.ig Developer 
    small (Freelance / Contracted, 2018-2021)
    div 
      | During this time I worked freelance, taking on contracts to 
      b develop new features
      | , 
      b deploy websites
      | , 
      b train clients
      | , and more for local businesses.
  h2 Proficiencies
  div.indented
    b.ig Programming Languages &amp; Technologies 
    div I am proficient with at least the following technologies, and always working to learn new ones!
    ul
      li JVM Languages such as Java, Kotlin, and Clojure
      li Serverless Applications and Deployment using AWS Lambda and Azure Functions
      li Statistical Analysis with libraries for Python, R, Racket, and numerous other languages
      li CI/CD and Automatic Deployment using Terraform, GitHub Actions, and GitLab CI/CD
      li Web Application Development using a variety of technologies, but most prominently React, Svelte, and Vue
  br
  div.indented
    b.ig Other Skills
    div I also possess other skills that are often very useful in development roles, such as the following.
    ul 
      li Technical Communication, especially with clients and users who aren't familiar with technical jargon.
      li Project Management, as I've managed and assisted in managing a number of applications which saw wide deployment.
      li Toolchain Management, ensuring that a team is working with a standard set of tools and that automatic build and 
        | deployment steps work regardless of the user or machine running them.
      li Project Documentation, especially focused on onboarding new developers to technologies they aren't yet familiar with.
      li Static Web Development, such as for the website you're viewing this on, for maintaining documentation and other 
        | static resources that don't need much responsive behavior but need to load quickly and reliably.
  h2 About Me
  div.indented
    p I'm Juniper Hallbick, a data scientist with significant experience in development and technical communication. 
      | My specialties specifically lie in developer documentation, standards adoption, and improving developer experience. 
      | In my career I've worked on teams ensuring medical applications adhere to regulatory guidelines, supporting deployment 
      | of applications with tens of millions of users, and consulting and educating on technical topics.
      br
      | I am a regular open source collaborator and hobbyist developer, with contributions in the Arctic Code Vault 
      | and work that sees use in medical software and various hobby communities.
      br
      | If you have any questions about me, my work, or my qualifications, please feel free to reach out to me at 
      a(href="mailto:juniper@junihall.com") juniper@junihall.com
      | .

