extends base.pug
include ../base/links.pug

block title 
  title Contact Me

block content
  p I have my fingers in a lot of pies. 
    | If you're trying to contact me about something not listed here, 
    | please reach out to my email at 
    +mail 
    | .
    | Thank you!
  h2 Commission
  p If you're interested in commissioning me to make a Minecraft or other video game mod, 
    | feel free to either join the 
    +discord 
    |  or message me at 
    +mail
    |  and I'll try to get back to you as soon as I'm able.
  p I don't currently do art on commission, but that doesn't mean I won't sketch whatever. 
    | Feel free to join my 
    +discord
    |  and chat. 
    | No promises, though!
  h2 Collaborations 
  p For collaborations, please join the 
    +discord 
    |  and request the streamer role. 
    | This adds you to the collab chat for my server, where you can 
    | request collaborations or be notified of upcoming ones.
  h2 Sponsorships
  p The channel is not currently accepting general sponsors, but 
    | some channel events accept sponsorships. 
    | If you would like to be added to the contact registry for charity 
    | and event sponsorships, please reach out to 
    +mail 
    | , and I or a collaborator will email you in anticipation of such 
    | events.
  h2 Management
  p I offer limited management for creative collaborations and charity events. 
  p For charity events I often work pro bono. 
  p Do not hesitate to reach out via 
    +discord 
    |  or to 
    +mail
    | .
  h2 Other Business Inquiries 
  p Please feel free to reach out to 
    +mail 
    | , and I will get back to you as soon as I am able. 
    | Please refrain from sending more than one email at a time, as 
    | I receive a high volume of messages and sorting through them 
    | may take a while.