extends base.pug

block title 
  title it's blur

block content
  br
  br
  .links
    a(href="https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA").big-link
      img(src="style/images/youtube.png", alt="YouTube").big-logo
      span YouTube
    a(href="https://twitch.tv/ssblur").big-link
      img(src="style/images/twitch.png", alt="Twitch").big-logo
      span Twitch
    a(href="https://github.com/ssblur").big-link
      img(src="style/images/github.png", alt="GitHub").big-logo
      span GitHub
    a(href="https://twitter.com/ssblur").big-link
      img(src="style/images/twitter.png", alt="Twitter").big-logo
      span Twitter