extends base.pug
include ../base/projects.pug
include ../base/blog.pug

block title 
  title it's blur

block content
  br
  br
  .links
    a(href="https://www.youtube.com/@blurprime").big-link
      img(src="style/images/youtube.png", alt="YouTube").big-logo
      span(data-path="YOUTUBE.LNK") YouTube
    a(href="https://twitch.tv/ssblur").big-link
      img(src="style/images/twitch.png", alt="Twitch").big-logo
      span(data-path="TWITCH.LNK") Twitch
    a(href="https://github.com/ssblur").big-link
      img(src="style/images/github.png", alt="GitHub").big-logo
      span(data-path="GITHUB.LNK") GitHub
    a(href="https://ssblur.tumblr.com").big-link
      img(src="style/images/tumblr.png", alt="Tumblr").big-logo
      span(data-path="TUMBLR.LNK") Tumblr
    a(href="https://discord.gg/fzZZhbe4rr").big-link
      img(src="style/images/discord.png", alt="Discord").big-logo
      span(data-path="DISCORD.LNK") Discord
    a(href="https://bsky.app/profile/blur.gay").big-link
      img(src="style/images/bsky.png", alt="BlueSky").big-logo
      span(data-path="BLUESKY.LNK") BlueSky
    a(href="https://ssblur.itch.io").big-link
      img(src="style/images/itch.png", alt="itch.io").big-logo
      span(data-path="ITCHIO.LNK") itch.io
  p
    | This site serves as a portal for information about my public endeavors, such as coding projects, videos, streams, and status updates.
    | At the right of the navigation bar you will find links to my 
    +youtube
    |                 ,
    +tumblr
    |                 , and my 
    +github
    | .
    | Under 
    a(href='projects.html', data-path="C:\\PROJ") Projects
    | , you will find information on some projects I liked enough to document, mainly bots.
    | Under 
    a(href='transparency.html', data-path="C:\\DOCS\\TRANS.TXT") Transparency
    | , you will find information on all money earned directly or indirectly through the platforms noted here,
    | as well as money spent directly on the channels.
    | (more information is available on the page). 
    | I also have a 
    a(href='blog/index.html', data-path="C:\\BLOG")
      +icon('pencil')
      | Blog 
    | where I post write-ups on minor projects, technical stuff I find interesting, or whatever else 
    | I feel like writing about, really.
    br
    br
    | There's also an infrequently-updated 
    a(href='questions.html', data-path="C:\\DOCS\\QA.TXT") Q&amp;A 
    | page which collates some questions I've been asked in the past.
  h1 Videos 
  p 
    | I make videos!
    | At this point in time it's mostly Minecraft modding stuff, but I do ostensibly make all sorts of videos.
    | Here are a few (hopefully) recent ones:
  br
  div.video-container
    +youtube-video('Searching Itch for Diamonds in the Rough', '5HbfV3BloC8')
    +youtube-video('Tiny Louvre: Art is for Everyone', 'CipQ_CEHk0M')
    +youtube-video('Meet ModFest: Toybox', '93ohfS6KoZQ')
  h1 Articles
  p Recent blog posts made to this site. Well, "recent". 
  p Topics range wildly and these are untagged, so no telling what you'll get, really.
  each post in blogs.splice(0, 2)
    +blog(post)
  h1 Featured Projects 
  p
    | These are some projects I've been working on recently.
    | You can check out more over in the 
    a(href='projects.html') Projects 
    | section of the site.
  +featured()
  br
  h1 Friends of the Me 
  p 
    | Here are a few other sites you might like. 
    | Friends, collaborators, and just some cool sites to check out.
    br
    | Kinda want to get a webring going here eventually.
  .sites 
    +site("Vincent's Website", "https://www.vincent-lee.net/", "Friend, Developer, and Musician. You may know him as williewillus. I like this guy.")
    +site("Ellpeck.de", "https://ellpeck.de/", "Long-time friend, Game Developer, and former Minecraft Modder. Also quite flexible!")
    +site("The End Zone", "https://theendercore.com/", "Ender is a friend and frequent collaborator who won't stop fixing my mods.")
    +site("Jasmine's Website", "https://jaskarth.com/", "Jasmine is a software engineer with a knack for compiler design, among other things.")
    +site("Exa's Corner", "https://exa.y2k.diy/", "The site of the Exa system, a handful of friends, Java devs, and sysadmins who might have made something you've heard about.")
    +site("Asie's site", "https://asie.pl", "Also known as, uh, cbrzeszczot. Talented dev shrouded in mystery. And big hat.")
    +site("Kat!", "https://kat.blue", "It's Kat's site! :3")
