extends base.pug
include ../base/projects.pug

block title 
  title it's blur

block content
  br
  br
  .links
    a(href="https://www.youtube.com/@blurprime").big-link
      img(src="style/images/youtube.png", alt="YouTube").big-logo
      span YouTube
    a(href="https://github.com/ssblur").big-link
      img(src="style/images/github.png", alt="GitHub").big-logo
      span GitHub
    a(href="https://ssblur.tumblr.com").big-link
      img(src="style/images/tumblr.png", alt="Tumblr").big-logo
      span Tumblr
    a(href="https://discord.gg/fzZZhbe4rr").big-link
      img(src="style/images/discord.png", alt="Discord").big-logo
      span Discord
    a(href="https://bsky.app/profile/blur.gay").big-link
      img(src="style/images/bsky.png", alt="BlueSky").big-logo
      span BlueSky
    a(href="https://ssblur.itch.io").big-link
      img(src="style/images/itch.png", alt="itch.io").big-logo
      span itch.io
  p
    | This site serves as a portal for information about my public endeavors, such as coding projects, videos, streams, and status updates.
    | At the right of the navigation bar you will find links to my 
    a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
      +icon('social-youtube')
      | YouTube
    |                 ,
    a(href='https://ssblur.tumblr.com' title='Tumblr')
      +icon('social-tumbler')
      | Tumblr
    |                 , and my 
    a(href='https://github.com/ssblur' title='Github')
      +icon('social-github')
      | Github
    | .
    | Under 
    a(href='projects.html') Projects
    | , you will find information on some projects I liked enough to document, mainly bots.
    | Under 
    a(href='transparency.html') Transparency
    | , you will find information on all money earned directly or indirectly through the platforms noted here,
    | as well as money spent directly on the channels.
    | (more information is available on the page).
  h1 Videos 
  p 
    | I make videos!
    | At this point in time it's mostly Minecraft modding stuff, but I do ostensibly make all sorts of videos.
    | Here are a few (hopefulle) recent ones:
  br
  div.video-container
    +youtube-video('Meet ModFest: Toybox', '93ohfS6KoZQ')
    +youtube-video('New in Box!: Miniatures in Minecraft', 'SIU-kULANrA')
    +youtube-video('Sip of Sarsaparilla', 'W2Gqh4OYtTs')
  h1 Featured Projects 
  p
    | These are some projects I've been working on recently.
    | You can check out more over in the 
    a(href='projects.html') Projects 
    | section of the site.
  +featured()
  br
  h1 Friends of the Me 
  p 
    | Here are a few other sites you might like. 
    | Friends, collaborators, and just some cool sites to check out.
    br
    | Kinda want to get a webring going here.
  .sites 
    +site("Vincent's Website", "https://www.vincent-lee.net/", "Friend, Developer, and Musician. You may know him as williewillus. I like this guy.")
    +site("Ellpeck.de", "https://ellpeck.de/", "Long-time friend, Game Developer, and former Minecraft Modder. Also quite flexible!")
    +site("The End Zone", "https://theendercore.com/", "Ender is a friend and frequent collaborator who won't stop fixing my mods.")
    +site("Jasmine's Website", "https://jaskarth.com/", "Jasmine is a software engineer with a knack for compiler design, among other things.")
    +site("Una's Y2k Site", "https://y2k.my/", "A site by Una with a variety of little tchotchkies and such, themed after personal sites of old.")
    +site("Una's not-Y2k Site", "https://unascribed.com", "Una's main site. She's a friend and developer on a variety of mainly Minecraft-related projects.")
    +site("Asie's site", "https://asie.pl", "Also known as, uh, cbrzeszczot. Talented dev shrouded in mystery. And big hat.")
    +site("Kat!", "https://kat.blue", "It's Kat's site! :3")
