extends base.pug

block title 
  title it's blur

block content
  br
  br
  .links
    a(href="https://www.youtube.com/@blurprime").big-link
      img(src="style/images/youtube.png", alt="YouTube").big-logo
      span YouTube
    a(href="https://twitch.tv/ssblur").big-link
      img(src="style/images/twitch.png", alt="Twitch").big-logo
      span Twitch
    a(href="https://github.com/ssblur").big-link
      img(src="style/images/github.png", alt="GitHub").big-logo
      span GitHub
    a(href="https://ssblur.tumblr.com").big-link
      img(src="style/images/tumblr.png", alt="Tumblr").big-logo
      span Tumblr
    a(href="http://dc.blur.lol").big-link
      img(src="style/images/discord.png", alt="Discord").big-logo
      span Discord
  p
    | This site serves as a portal for information about my public endeavors, such as coding projects, videos, streams, and status updates.
    | At the right of the navigation bar you will find links to my 
    a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
      +icon('social-youtube')
      | YouTube
    |                 ,
    a(href='https://www.twitch.tv/ssblur' title='Twitch')
      +icon('message-typing')
      | Twitch
    |                 ,
    a(href='https://ssblur.tumblr.com' title='Tumblr')
      +icon('social-tumbler')
      | Tumblr
    |                 , and my 
    a(href='https://github.com/ssblur' title='Github')
      +icon('social-github')
      | Github
    | .
    | Under 
    a(href='projects.html') Projects
    | , you will find information on some projects I liked enough to document, mainly bots.
    | Under 
    a(href='transparency.html') Transparency
    | , you will find information on all money earned directly or indirectly through the platforms noted here,
    | as well as money spent directly on the channels.
    | (more information is available on the page).