extends base.pug
include ../base/links.pug

block title 
  title Q&amp;A

block content
  h1 Submitting Questions 
  p 
    | If you have questions for me, submit them via email at 
    +mail
    |  or through my 
    a(href='https://ssblur.tumblr.com/ask' title='Tumblr')
      +icon('social-tumbler')
      | Tumblr
  h1 Asked Questions
  p
    ul
      li
        | Q: What do you do?
        ul
          li
            | In my day job, I work as a software engineer on DevOps and testing tools for a bank.
            br
            | Here, I play video games, create mods for games, build bots, and sketch Slowpokes.
            | I&apos;d recommend checking out my 
            +youtube
            |  or the 
            a(href="/projects.html" title="Projects") Projects
            |  section if you&apos;re looking for some examples.
            br
            | The 
            +tumblr
            |  also exists and accumulates most of the things I post elsewhere, eventually. 
            | Stuff like art, random thoughts, and reblogs of things I find funny end up here too.
      li
        | Q: How much money do you make on the channel?
        ul
          li
            | I wish! 
            br
            | A full report of all expenses and profit made on the channel and 
            | through related ventures are detailed over in the 
            a(href="/transparency.html") Transparency
            |  section of the site.
            br
            | If I ever start making money on the channel, you'll be able to tell
            | because I report any income there.
      li
        | Q: Who edits your videos?
        ul
          li
            | Some of my highlight videos are edited by 
            a(href='https://keyframers.com/') Denis Afloroaiei's Keyframers
            | , and the rest I edit myself.
            br
            | I have edited all my project videos (so far!). 
            br
            | The channel is not currently accepting new editors.
      li
        | Q: What's the deal with the thumbnails?
        ul
          li
            | I don't know if this is about the borders or the icons, so I'll
            | answer both.
            br
            | The borders I like as negative space, I feel like slightly smaller 
            | icons stand out a bit, but mostly I just like the way they look.
            br
            | The icons indicate what to expect from a video, but they're 
            | again mostly for my own benefit.
            | Stars are event streams and bigger collabs, 
            | controllers are one-off game highlights,
            | numbers are parts of series, 
            | and gears are other projects.
            br
            | Thumbnail art and assets are done by a variety of people, 
            | but primarily myself and 
            a(href='https://x.com/derpysquiddles') Derpy Squiddles
            | .
      li
        | Q: When do you stream?
        ul
          li
            | I will announce streams on my 
            +discord
            | .
            | I stream many Mondays, Wednesdays, and Fridays after 6:00 PM Eastern Time. 
            | I stream to  
            +youtube
            |  mostly, and occasionally to Discord.
      li
        | Q: Can I get my name in your videos?
        ul
          li
            | I generally do thank and interact with regular viewers / commenters so feel free 
            | to drop by my streams or subscribe at my 
            +youtube  
            |  channel. 
            br
            | Sending in mod ideas that get used in a video pretty much guarantees a shout out,
            | as well.
      li
        | Q: What does the name mean?
        ul
          li
            | SSBlur is short for &quot;Super Sonic Blur&quot;, originally stylized as SUPERSonicBlur.
            br
            | It doesn&apos;t really mean anything, I stole it from a kid when I was in elementary school.
            | He played Webkinz and their name was &quot;SonicBlur67&quot; I think.
            br
            | He then suggested I should pick up Webkinz, so I did.
            | But I had a problem: I had no idea how to pick a username.
            br
            | Well, I wanted something better than &quot;SonicBlur&quot;.
            br
            | So I picked &quot;SUPERSonicBlur&quot;.
            br
      li
        | Q: Why is your name not always the same?
        ul
          li
            | Typically it's just "blur", but sometimes people already know me as something else,
            | there's already another blur, or the username is taken. In these cases, I'll use 
            | the older "SSBlur" or some variation like "bIur"/"biur", "blub", or something similar.
            br
            | Currently, my main one is "blurprime", because for some reason SSBlur is 
            | taken or unusable on a lot of sites.