extends base.pug

block title 
  title Contempt SMP Modlist

block content
  h1 Contempt SMP
  p The Contempt SMP is a creator-run modpack where most of the content mods were made by the players on the server. 
    | It's primarily put together by 
    a(href="https://github.com/TeamVoided") Team Voided
    | , primarily Ender, and mods from all participants, including yours truly! 
    | I've included a mod list below for reference, with our creations at the top:
  h2 Our Mods
  ul 
    li 
      a(href="https://modrinth.com/mod/qUKJfi7E") Alchimiae Magicae - SSBlur
      | , a mod all about brewing and alchemy, by yours truly!
    li 
      a(href="https://modrinth.com/mod/kIhxG5zE") Armor Trim Item Fix - MinecraftEinstein
      | , a mod for fixing Armor Trims, all there is to it.
    li 
      a(href="https://modrinth.com/mod/mt1fNBsN") Astral Arsenal - Astratine, WiredTomato, TheEnderCore, SSBlur, MinecraftEinstein
      | , which adds weapons, magic, and more, this veritable arsenal is a labor of love from the members of the ContemptSMP.
    li 
      a(href="https://modrinth.com/mod/J8ozcPak") Burgered - WiredTomato 
      | , where you can make burgers. Mmmm burgers.
    li 
      a(href="https://modrinth.com/mod/98sJC4ux") Dusk's Biomes - DustAutumnStorm, TheEnderCore
      | , a pack of biomes that makes for a more interesting world.
    li 
      a(href="https://github.com/Teamvoided/DusksAndDungeons") Dusks and Dungeons - DustAutumnStorm, TheEnderCore
      | , a mod that adds worldgen, mobs, items, decorations, and more to bring life to your world.
    li 
      a(href="https://modrinth.com/mod/Q2qswmhx") End, Nu Uh - TheEnderCore
      | , which prevents us from going to the end. It'll get removed once one of us makes an End-based content mod. Theoretically.
    li 
      a(href="https://modrinth.com/mod/CME4JguJ") FiredPots - MinecraftEinstein
      | , a new way to craft decorated pots, by firing clay pots.
    li 
      a(href="https://modrinth.com/mod/lKWyoo18") KrabNet - TheEnderCore
      | , a sandbox mod which adds various bits and bobs.
    li 
      a(href="https://fabricmc.net/") Make It Goth!
      | , a mod for people who like goth stuff.
    li 
      a(href="https://modrinth.com/mod/9p1fvkRO") Mendable Anvils - MinecraftEinstein
      | , the mod that lets you repair anvils with iron ingots.
    li 
      a(href="https://modrinth.com/mod/WBFIMxUy") Name Currently on Cooldown - TheEnderCore
      | , a helper to show cooldowns under the crosshair.
    li 
      a(href="https://modrinth.com/mod/Xt7qZAZo") Narrus Yeetus - TheEnderCore
      | , a... what's the opposite of a helper? Basically Ender hates the visually impaired, so they removed the Narrator.
    li 
      a(href="https://modrinth.com/mod/hLiEnDPK") Nullium - DuskAutumnStorm, TheEnderCore
      | , a collection of features that make the game a bit nicer.
    li 
      a(href="https://modrinth.com/mod/MOsTUoK3") Sauced - SSBlur
      | , which lets you put sauce on your burgers. Wow!
    li 
      a(href="https://modrinth.com/mod/JyJgaOrk") Scriptor Magicae - SSBlur
      | , the magic mod where words have power.
    li 
      a(href="https://modrinth.com/mod/4q8UOK1d") Subtle Effects - MinecraftEinstein
      | , a collection of small details that enhance the feel of the world.
    li 
      a(href="https://modrinth.com/mod/mqoxwis0") Tinkers' Bounce Pad - MinecraftEinstein
      | , a port of the Bounce Pad from classic Tinkers' Construct.
    li 
      a(href="https://modrinth.com/mod/o8YrbYfv") Trowel - TheEnderCore, Astratine
      | , a port of Quarks' Trowel.
    li 
      a(href="https://github.com/Teamvoided/TweakedTrials") Tweaked Trials - TheEnderCore, DuskAutumnStorm, MinecraftEinstein
      | , a mod that tweaks the Trials Update's additions.
    li 
      a(href="https://modrinth.com/mod/BvsO32QY") Unfocused - SSBlur
      | , a library and utility mod. Boooooring.
    li 
      a(href="https://modrinth.com/mod/CzM6C1W0") Useful Slime - MinecraftEinstein
      | , a mod that makes slime... useful! 
    li 
      a(href="https://modrinth.com/mod/kwcjLDqx") VisibleToggleSprint - TheEnderCore
      | , which makes changes to the toggle sprint and sneak features.
    li 
      a(href="https://github.com/Teamvoided/VoidedDelight") Voided Delight - TheEnderCore
      | , an addon for Farmer's Delight that adds stuff and makes things work. Lots of compat, very cool.
    li 
      a(href="https://modrinth.com/mod/RkzjxDVP") Voided Variance - TheEnderCore, DuskAutumnStorm
      | , a suite of vanilla-style items and blocks to make the world feel more cohesive.
    li 
      a(href="https://modrinth.com/mod/lIw0R1DW") White Pumpkins - MinecraftEinstein
      | , which adds white pumpkins inspired by their appearance in Minecraft: Story Mode.
    li 
      a(href="https://modrinth.com/mod/1VYyhOan") World Foundry - DuskAutumnStorm, TheEnderCore
      | , a new world type for mixed worldgen.
  h2 All Mods
  p This is an automatically generated mod list that includes all mods in the pack.
  // The template used in Prism
  // li
  // a(href="{url}") {name} [{version}] by {authors}
  ul 
    li
      a(href="https://modrinth.com/mod/qUKJfi7E") Alchimiae Magicae [0.2.5-1.21] by SSBlur
    li
      a(href="https://modrinth.com/mod/EsAfCjCV") AppleSkin [3.0.6+mc1.21] by squeek502
    li
      a(href="https://fabricmc.net/") Architects Palette [1.4.0.pre-1] by Snakeblock, THX, Smash Brothers, Orisghost, RENREN, Jsburg
    li
      a(href="https://modrinth.com/mod/lhGA9TYQ") Architectury [13.0.8] by shedaniel
    li
      a(href="https://modrinth.com/mod/pJnbPs9G") Armor Chroma [1.2.8] by jobicade, Neecko5b84 (fork)
    li
      a(href="https://modrinth.com/mod/bbGCtEvb") Armor Statues [21.1.0] by Fuzs
    li
      a(href="https://modrinth.com/mod/kIhxG5zE") Armor Trim Item Fix [1.2.0] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/mt1fNBsN") Astral Arsenal [3.0.1] by Astratine, WiredTomato, TheEnderCore, Blurr, Mincrafteinstein
    li
      a(href="https://modrinth.com/mod/N6n5dqoA") Axiom [4.3.3] by Moulberry
    li
      a(href="https://modrinth.com/mod/5srFLIaK") Better Clouds [1.7.6+1.21-fabric] by Qendolin
    li
      a(href="https://modrinth.com/mod/CaQ3SZNi") Better Night Vision [1.0.2] by Microcontrollers
    li
      a(href="https://modrinth.com/mod/MS1ZMyR7") Better Ping Display [1.1.1] by Quintinity
    li
      a(href="https://modrinth.com/mod/tu2FohxL") Better Sodium Video Settings Button [4.0.0-alpha.0] by PiemanDev
    li
      a(href="https://modrinth.com/mod/8shC1gFX") BetterF3 [11.0.3] by cominixo, TreyRuffy
    li
      a(href="https://modrinth.com/mod/iGEl6Crx") Biolith [3.0.1] by TerraformersMC, gniftygnome
    li
      a(href="https://modrinth.com/mod/Ah3WA8lg") Biome Tag Villagers [1.2.0] by TheEnderCore, DuskAutumnStorm
    li
      a(href="https://modrinth.com/mod/M08ruV16") Bobby [5.2.4+mc1.21] by johni0702
    li
      a(href="https://modrinth.com/mod/O2WJc0f3") Brainier Bees [1.6] by dopadream
    li
      a(href="https://modrinth.com/mod/J8ozcPak") Burgered [0.1.0-beta.10] by WiredTomato
    li
      a(href="https://modrinth.com/mod/rrwQMaWQ") Camera Utils [1.21.1-1.0.16] by Max Henkel
    li
      a(href="https://modrinth.com/mod/joEfVgkn") Carry On [2.2.2] by Tschipp, Purplicious_Cow
    li
      a(href="https://modrinth.com/mod/fALzjamp") Chunky [1.4.16] by pop4959
    li
      a(href="https://modrinth.com/mod/9s6osm5g") Cloth Config v15 [15.0.140] by shedaniel
    li
      a(href="https://modrinth.com/mod/Wnxd13zP") Clumps [19.0.0.1] by Jared
    li
      a(href="https://modrinth.com/mod/SaCpeal4") Comforts [9.0.3+1.21.1] by Illusive Soulworks
    li
      a(href="https://modrinth.com/mod/HIuqnQpi") Common Network [1.0.18-1.21.1] by Mysticdrew
    li
      a(href="https://modrinth.com/mod/1IjD5062") Continuity [3.0.0+1.21] by PepperCode1
    li
      a(href="https://modrinth.com/mod/xv94TkTM") Controlling [19.0.4] by Jaredlll08
    li
      a(href="https://modrinth.com/mod/uZAcFHLd") Custom FOV [9.0.0+1.21] by Illusive Soulworks
    li
      a(href="https://modrinth.com/mod/rbJ7eS5V") Discord Integration Fabric [3.0.7.2] by ErdbeerbaerLP
    li
      a(href="https://modrinth.com/mod/aQ7h7gal") Dramatic Doors [1.21.1-3.2.7] by FizzWare
    li
      a(href="https://modrinth.com/mod/98sJC4ux") Dusk's Biomes [1.2.1] by DuskAutumnStorm, TheEnderCore
    li
      a(href="https://github.com/Teamvoided/DusksAndDungeons") Dusks and Dungeons [1.0.0-alpha.5] by Dusk, TheEnderCore
    li
      a(href="https://modrinth.com/mod/LQ3K71Q1") Dynamic FPS [3.9.0] by juliand665, LostLuma
    li
      a(href="https://modrinth.com/mod/fRiHVvU7") EMI [1.1.20+1.21.1+fabric] by Emi
    li
      a(href="https://modrinth.com/mod/Q2qswmhx") End, Nu Uh [1.1.0] by TheEnderCore
    li
      a(href="https://modrinth.com/mod/NNAgCjsB") EntityCulling [1.7.3] by tr7zw
    li
      a(href="https://modrinth.com/mod/P7dR8mSH") Fabric API [0.115.1+1.21.1] by FabricMC
    li
      a(href="https://modrinth.com/mod/Ha28R6CL") Fabric Language Kotlin [1.13.1+kotlin.2.1.10] by FabricMC
    li
      a(href="https://modrinth.com/mod/7vxePowz") Farmer's Delight [1.21.1-2.3.0+refabricated] by MehVahdJukaar, MerchantPug
    li
      a(href="https://modrinth.com/mod/uXXizFIs") FerriteCore [7.0.2-hotfix] by malte0811
    li
      a(href="https://modrinth.com/mod/CME4JguJ") FiredPots [1.0.2] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/ohNO6lps") Forge Config API Port [21.1.3] by Fuzs
    li
      a(href="https://modrinth.com/mod/hYykXjDp") Fzzy Config [0.6.5+1.21] by fzzyhmstrs
    li
      a(href="https://modrinth.com/mod/Vz96hXMh") Highlight [3.0.0] by ThatGravyBoat
    li
      a(href="https://modrinth.com/mod/5ZwdcRci") ImmediatelyFast [1.6.1+1.21.1] by RK_01
    li
      a(href="https://modrinth.com/mod/YL57xq9U") Iris [1.8.8+mc1.21.1] by coderbot, IMS212, Justsnoopy30, FoundationGames
    li
      a(href="https://modrinth.com/mod/RPOSBQgq") ItemSwapper [0.7.6] by tr7zw
    li
      a(href="https://modrinth.com/mod/lKWyoo18") KrabNet [1.0.0.alpha.2] by TheEnderCore
    li
      a(href="https://modrinth.com/mod/fQEb0iXm") Krypton [0.2.8] by tuxed
    li
      a(href="https://modrinth.com/mod/2ecVyZ49") Ksyxis [1.3.3] by VidTu
    li
      a(href="https://modrinth.com/mod/uLbm7CG6") Language Reload [1.7.2+1.21.1] by Jerozgen
    li
      a(href="https://modrinth.com/mod/gvQqBUqZ") Lithium [0.14.8+mc1.21.1] by JellySquid, 2No2Name
    li
      a(href="https://modrinth.com/mod/XaDC71GB") Lithostitched [1.4.2] by Apollo
    li
      a(href="https://fabricmc.net/") Make it Goth [1.0.0-alpha.1] by Me!
    li
      a(href="https://modrinth.com/mod/9p1fvkRO") Mendable Anvils [1.2.2] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/Adega8YN") MmmMmmMmmMmm [1.21-2.0.7] by Mehvahdjukaar, Bonusboni, Gooigipunch, Plantkillable
    li
      a(href="https://modrinth.com/mod/mOgUt4GM") Mod Menu [11.0.3] by Prospector, haykam821, TerraformersMC
    li
      a(href="https://modrinth.com/mod/QdG47OkI") Model Gap Fix [1.21-1.6] by MehVahdJukaar
    li
      a(href="https://modrinth.com/mod/nmDcB62a") ModernFix [5.20.2+mc1.21.1] by embeddedt
    li
      a(href="https://modrinth.com/mod/twkfQtEc") Moonlight Lib [1.21-2.17.34] by MehVahdJukaar
    li
      a(href="https://modrinth.com/mod/M7MroYMU") Multi World Borders [1.6.4-fabric-1.20.5-rc2] by Potatoboy9999
    li
      a(href="https://modrinth.com/mod/WBFIMxUy") Name Currently on Cooldown [1.0.0] by TheEnderCore
    li
      a(href="https://modrinth.com/mod/Xt7qZAZo") Narrus Yeetus [1.1.0] by TheEnderCore
    li
      a(href="https://modrinth.com/mod/qQyHxfxd") No Chat Reports [1.21.1-v2.9.1] by Aizistral
    li
      a(href="https://modrinth.com/mod/KuNKN7d2") Noisium [2.3.0+mc1.21-1.21.1] by Steveplays28
    li
      a(href="https://modrinth.com/mod/bQh7xzFq") Not Enough Recipe Book [0.4.1] by OctoStudios
    li
      a(href="https://modrinth.com/mod/MPCX6s5C") NotEnoughAnimations [1.9.2] by tr7zw
    li
      a(href="https://modrinth.com/mod/hLiEnDPK") Nullium [0.6.0] by DuskAutumnStorm, TheEnderCore
    li
      a(href="https://modrinth.com/mod/RH2KUdKJ") OctoLib [0.5.0.1] by OctoStudios
    li
      a(href="https://modrinth.com/mod/pJogNFap") Paginated Advancements [2.5.1] by DaFuqs
    li
      a(href="https://modrinth.com/mod/RSeLon5O") Particle Core [0.2.5+1.21] by fzzyhmstrs
    li
      a(href="https://modrinth.com/mod/nU0bVIaL") Patchouli [1.21-87-FABRIC] by Vazkii, williewillus
    li
      a(href="https://modrinth.com/mod/eXts2L7r") Placeholder API [2.4.2+1.21] by Patbox
    li
      a(href="https://modrinth.com/mod/tagwiZkJ") Polymorph [1.0.7+1.21.1] by Illusive Soulworks
    li
      a(href="https://modrinth.com/mod/QAGBst4M") Puzzles Lib [21.1.29] by Fuzs
    li
      a(href="https://modrinth.com/mod/ZP7xHXtw") Remove Reloading Screen [5.0.8+mc1.21.1-fabric] by dima_dencep
    li
      a(href="https://modrinth.com/mod/MOsTUoK3") Sauced [1.0.4] by SSBlur
    li
      a(href="https://modrinth.com/mod/JyJgaOrk") Scriptor [1.4.1] by SSBlur
    li
      a(href="https://modrinth.com/mod/fuuu3xnx") Searchables [1.0.2] by Jaredlll08
    li
      a(href="https://modrinth.com/mod/iqK5uv72") Server Pinger Fixer [1.0.5] by JustAlittleWolf
    li
      a(href="https://modrinth.com/mod/Glp1bwYc") Simple Fog Control [1.6.0] by Draradech
    li
      a(href="https://modrinth.com/mod/9eGKb6K1") Simple Voice Chat [1.21.1-2.5.28] by Max Henkel
    li
      a(href="https://modrinth.com/mod/QcXrixsH") Slotted Armor HUD [1.2.5] by BerdinskiyBear, poq
    li
      a(href="https://modrinth.com/mod/AANobbMI") Sodium [0.6.9+mc1.21.1] by JellySquid (jellysquid3)
    li
      a(href="https://modrinth.com/mod/PtjYWJkn") Sodium Extra [0.6.0+mc1.21.1] by FlashyReese
    li
      a(href="https://modrinth.com/mod/qyVF9oeo") Sound Physics Remastered [1.21.1-1.4.8] by Sonic Ether, vlad2305m, Max Henkel, Saint
    li
      a(href="https://modrinth.com/mod/myL7fuqp") Staaaaaaaaaaaack [1.21-1.5-75] by frankV
    li
      a(href="https://modrinth.com/mod/NusMqsjF") StackDeobfuscator [1.4.3+08e71cc] by booky10
    li
      a(href="https://modrinth.com/mod/4q8UOK1d") Subtle Effects [1.9.1] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/VLMe7pfI") TakeASeat [1.0.3+mc1.21] by LX86
    li
      a(href="https://modrinth.com/mod/mqoxwis0") TinkersBouncePad [1.6.0] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/o8YrbYfv") Trowel [1.4.0] by TheEnderCore, Astra
    li
      a(href="https://github.com/Teamvoided/TweakedTrials") Tweaked Trials [1.0.0] by TheEnderCore, DuskAutumntStorm, MincraftEinstein
    li
      a(href="") Twigs [1.21-3.2.0] by Ninni
    li
      a(href="https://modrinth.com/mod/BvsO32QY") Unfocused [0.1.65] by SSBlur
    li
      a(href="https://modrinth.com/mod/yn9u3ypm") Universal Graves [3.4.4+1.21] by Patbox
    li
      a(href="https://modrinth.com/mod/CzM6C1W0") UsefulSlime [1.12.1] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/kwcjLDqx") VisibleToggleSprint [1.7.0] by TheEnderCore
    li
      a(href="https://github.com/Teamvoided/VoidedDelight") Voided Delight [1.0.0-beta.2] by TheEnderCore
    li
      a(href="https://modrinth.com/mod/RkzjxDVP") VoidedVariance [1.1.1] by TheEnderCore, DuskAutumnStorm
    li
      a(href="https://modrinth.com/mod/lIw0R1DW") WhitePumpkins [1.2.3] by MincraftEinstein
    li
      a(href="https://modrinth.com/mod/1VYyhOan") World Foundry [1.1.0] by DuskAutumnStorm, TheEnderCore
    li
      a(href="https://modrinth.com/mod/1u6JkXh5") WorldEdit [7.3.8+6939-7d32b45] by EngineHub
    li
      a(href="https://modrinth.com/mod/Ua7DFN59") YUNG's API [1.21.1-Fabric-5.1.4] by YUNGNICKYOUNG
    li
      a(href="https://modrinth.com/mod/Hcy2DFKF") YUNG's Menu Tweaks [1.21.1-Fabric-2.1.2] by YUNGNICKYOUNG
    li
      a(href="https://modrinth.com/mod/1eAoo2KR") YetAnotherConfigLib [3.6.3+1.21.1-fabric] by isXander
  h2 Some Streams
  p These are some streams from creators on the server. It's updated occasionally.
  br
  div.video-container
    +youtube-video('Rings in the Sky | it\'s blur', 'LuRqIyV653Y')
    +youtube-video('All Trial, no Tribulation | it\'s blur', 'QHhb9brye2E')
    +youtube-video('Big Things | it\'s blur', 'JX2KoL0jwlI')