extends base.pug


block title 
  title PUZZGRIND!!

block content
  h1 PUZZGRIND!!
  p PUZZGRIND!! is a puzzle game set in the RAILGRIND!! universe, all about matching blocks! 
    | You can play it on itch.io in your browser or download it and play it on the PICO-8 fantasy console or compatible platforms.
  +itch("3423714", "puzzgrind")
  p You can also check out the source code on 
    a(href="https://github.com/ssblur/puzzgrind") 
      +icon('social-github')
      | GitHub
    | , or check out the RAILGRIND!! Racing Card Game itself on 
    a(href="https://railgrindgame.com") its website.