extends ../base.pug

block title 
  title= blogTitle

block description
  meta(name='description' content=teaser)

block content
  p
    small.datemark Initially published on 
      =created
  h1= blogTitle
  p
    | !{blogContents}