extends ../base.pug

block title 
  title= title

block description
  meta(name='description' content=teaser)

block content
  p
    small.datemark Initially published on 
      = created
      if updated
        | , updated on 
        = updated
  h1= title
  div.blog-contents !{contents}
  br
  br
  br
  a(href="/blog/index.html") &gt; Back to blog index