extends ../base.pug

block title 
  title Blog

block content
  h1 The Blog
  p This is where I put articles that don't fit cleanly into other sections of the site.
  p Sorted by recency, most recent at the top.
  each blog in blogs
    a(href=blog.link)
      div.blog
        small.datemark=blog.created
        h2=blog.title
        p=blog.teaser