extends ../base.pug
include ../../base/icon.pug
include ../../base/blog.pug

block title 
  title Blog

block content
  h1 The Blog&nbsp;
    a(href='/blog/feed.xml' title='RSS Feed').link
      +icon('rss')
  p This is where I put articles that don't fit cleanly into other sections of the site.
  p Sorted by recency, most recent at the top.
  each post in blogs
    +blog(post)