mixin mail
    a(href='mailto:info@ssblur.com') info@ssblur.com

mixin youtube 
    a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
        +icon('social-youtube')
        | YouTube

mixin discord 
    a(href='https://discord.gg/Uwbtmmb' title='Discord')
        +icon('social-discord')
        | Discord

mixin tumblr
    a(href='https://ssblur.tumblr.com' title='Tumblr')
        +icon('social-tumbler')
        | Tumblr