include icon.pug

mixin project-link(link)
    +link-icon(link)

mixin project(name, ...links)
    .project
        p
            h2= name
            .project-links
                each item in links
                    +project-link(item)
        .project-content
            block