include project.pug 

mixin projects()
  h1 Projects
  p
    | Here are some projects I've worked on recently! 
    | These are not in any particular order, and some are older or were hacked together,
    | so code quality may be inconsistent.

  h2 Featured
  p 
    | These projects are somewhat actively maintained or were released recently.
  .projects
    +project(
      "Scriptor Magicae", 
      "/mods/scriptor.html",
      "https://github.com/ssblur/scriptor/releases",
      "https://modrinth.com/mod/scriptor-magicae/",
      "https://www.curseforge.com/minecraft/mc-mods/scriptor-magicae"
    )
      | Scriptor Magicae adds a text-based spellcrafting system that allows players 
      | to discover and create spells based on languages which are generated per-world.
    +project(
      "One Billion Things: Ideas Come Alive", 
      "/mods/obt.html",
      "https://github.com/ssblur/your-mod-ideas/releases",
      "https://modrinth.com/mod/one-billion-things/",
      "https://www.curseforge.com/minecraft/mc-mods/one-billion-things",
      "https://www.youtube.com/watch?v=bzXLt6AN6t8&list=PLtz8ISEBaLEdokbNeCkQ3mS2ovjqw_6dQ"
    )
      | One Billion Things is a showcase mod for various feature idea suggestions
      | provided by the community.
    +project(
      "Itty for Tiny Life", 
      "/mods/itty.html",
      "https://github.com/ssblur/IttyMod",
      "https://tinylifegame.com/"
    )
      | Itty is a mod that adds a familiar looking social media site to the game Tiny Life.
      | Featured on the Tiny Life homepage! Use the website link below to check out Tiny Life.
  h2 Other 
  p 
    | These may not be finished or actively maintained, but might give an idea of the kind of 
    | project I tend to work on.
  .projects
    +project(
      "This Site",
      "https://pemery.co",
      "https://ssblur.com",
      "https://ssblur.neocities.org"
    )
      | This site is a static site simultaneously hosted through AWS' S3 service 
      | (and routed / cached through CloudFront) and Neocities.
      br
      | All pages are generated from templates on build, and are automatically 
      | deployed to their respective services.
      br
      | Designed to be simple and compatible, this website does not use client-side 
      | JavaScript, and sticks to image formats which are near-universally supported.
      br
      | With limited CSS3 use and IE-specific compatibility, it should be usable and 
      | reasonable on basically any browser, including IE5+, Lynx, and even the DSi browser.
    +project(
      "These Two are Enemies", 
      "https://twitter.com/TwoEnemies", 
      "https://discord.com/api/oauth2/authorize?client_id=778116699958280192&permissions=2048&scope=bot", 
      "https://github.com/ssblur/TheseTwoAreEnemies"
    )
      | A Twitter and Discord bot created to answer a question: 
      | Who is this character's enemy?
      | Allows you to search for a character's enemies on Discord, or posts about characters and their 
      | enemies periodically on Twitter.
      br
      | Formerly ran off the Disney wiki, now uses Nickelodeon by default.
      | No longer works on most wikis due to Wikia changes, and would 
      | require paid API access anyways.
    +project(
      "Redderstone", 
      "https://github.com/ssblur/redderstone",
      "https://www.curseforge.com/minecraft/mc-mods/redderstone",
      "https://modrinth.com/mod/redderstone"
    )
      | Redderstone expands redstone into a lightweight power system.
      | This project was made as part of a mod jam and has been abandoned.
    +project(
      "Markdown To Patchouli",
      "https://github.com/ssblur/markdown-to-patchouli"
    )
      | A work-in-progress Gradle plugin used to generate Patchouli books 
      | out of documentation written in Markdown.
    +project(
      "Froggy Chair for Tiny Life", 
      "https://github.com/ssblur/froggy-chair",
      "https://tinylifegame.com/"
    )
      | Froggy Chair is a mod for Tiny Life that adds the eponymous Froggy Chair originally 
      | included in Animal Crossing, as well as the Lily-Pad Table.
      br
      | They are simple, yet functional furniture, with 4 mix-and-matchable color sets.
    +project(
      "Search and Destroy",
      "https://github.com/ssblur/Search-and-Destroy"
    )
      | Search and Destroy is a silly Discord bot designed to annoy.
      | This was made as part of a bet, and as a joke. 
      | All this bot will do is follow a user through all supported Discord servers, and play a sound 
      | when the user joins a new channel.
    +project(
      "Literally Just Cheap Invisible Armor",
      "https://github.com/ssblur/LiterallyJustCheapInvisibleArmor",
      "https://www.curseforge.com/minecraft/mc-mods/literally-just-cheap-invisible-armor"
    )
      | What it says on the tin.
      | Not a marvel of technology by any means, but it is functional.
      | I didn't even replace the default Fabric README.
    +project(
      "LazySpeak",
      "https://github.com/ssblur/LazySpeak"
    )
      | A quick Python module which only exists to simplify TTS.
      | I created this for use with a Twitch helper, and for that it functions well enough.
      br
      | This will simply check for commonly used or default platform-specific TTS drivers,
      | such as SAPI or say, and use them if present.