include project.pug 

mixin projects()
  h1 Projects
  p
    | Here are some projects I've worked on recently! 
    | These are not in any particular order, and some are older or were hacked together,
    | so code quality may be inconsistent.

  h2 Featured
  p 
    | These projects are somewhat actively maintained or were released recently.
  .projects
    +minecraft-project(
      "Scriptor Magicae", 
      "https://ssblur.com/mods/scriptor.html",
      "https://github.com/ssblur/scriptor/releases",
      "https://modrinth.com/mod/scriptor-magicae/",
      "https://www.curseforge.com/minecraft/mc-mods/scriptor-magicae"
    )
      | Scriptor Magicae adds a text-based spellcrafting system that allows players 
      | to discover and create spells based on languages which are generated per-world.
    +tinylife-project(
      "Itty for Tiny Life", 
      "https://ssblur.com/mods/itty.html",
      "https://github.com/ssblur/IttyMod",
      "https://tinylifegame.com/"
    )
      | Itty is a mod that adds a familiar looking social media site to the game Tiny Life.
      | Featured on the Tiny Life homepage! Use the website link below to check out Tiny Life.
    +minecraft-project(
      "Alchimiae Magicae", 
      "https://ssblur.com/mods/alchimiae.html",
      "https://github.com/ssblur/alchimiae/releases",
      "https://modrinth.com/mod/alchimiae-magicae/",
      "https://www.curseforge.com/minecraft/mc-mods/alchimiae-magicae"
    )
      | Alchimiae Magicae adds a dynamic and intuitive potion brewing system that uses Minecraft's 
      | existing systems but brings brewing into the early game. 
      | Experiment and discover new effects by mixing all sorts of brew!
    +pico-project(
      "PUZZGRIND!",
      "https://github.com/ssblur/puzzgrind", 
      "https://ssblur.com/projects/puzzgrind.html",
      "https://ssblur.itch.io/puzzgrind"
    )
      | PUZZGRIND is a simple pick-and-place puzzle game set in the Railgrind universe! 
      | This was made in the PICO-8 and uses only stock features. 
      | You can even use the link above to play it in your browser! Neat!
  h2 Other 
  p 
    | These may not be finished or actively maintained, but might give an idea of the kind of 
    | project I tend to work on.
  .projects
    +minecraft-project(
      "Sip of Sarsaparilla", 
      "https://ssblur.com/mods/sip.html",
      "https://github.com/ssblur/sip-of-sarsaparilla",
      "https://www.curseforge.com/minecraft/mc-mods/sip-of-sarsaparilla",
      "https://modrinth.com/mod/sip-of-sarsaparilla"
    )
      | Formerly Minecraft: Yellow, Sip of Sarsaparilla
      | is a Minecraft mod that adds various western- and cowboy-themed items,
      | blocks, and more, as well as appropriating features from other media that 
      | match the aesthetic.
    +py-project(
      "Stream It!", 
      "https://github.com/ssblur/stream-it",
      "https://ssblur.com/projects/streamit.html"
    )
      | Stream It! is a virtual button panel for use in foley on streams or to manage minor, 
      | repeatable tasks on a computer through a simple interface.
      br
      | It's more or less comparable to Elgato's Stream Deck, but made to be usable without
      | buying any additional hardware, using just a phone or laptop with a browser.
    +js-project(
      "This Site",
      "https://phallbick.co",
      "https://ssblur.com",
      "https://ssblur.neocities.org"
    )
      | This site is a static site simultaneously hosted through AWS' S3 service 
      | (and routed / cached through CloudFront) and Neocities. 
      | It is statically generated and automatically deployed using Pug and GitHub Actions.
    +minecraft-project(
      "One Billion Things: Ideas Come Alive", 
      "https://ssblur.com/mods/obt.html",
      "https://github.com/ssblur/your-mod-ideas/releases",
      "https://modrinth.com/mod/one-billion-things/",
      "https://www.curseforge.com/minecraft/mc-mods/one-billion-things",
      "https://www.youtube.com/watch?v=bzXLt6AN6t8&list=PLtz8ISEBaLEdokbNeCkQ3mS2ovjqw_6dQ"
    )
      | One Billion Things is a showcase mod for various feature idea suggestions
      | provided by the community.
      br
      | This mod doesn't see frequent updates, but occasionally I'll throw one its 
      | way to add new suggestions or funny one-off ideas.
    +tinylife-project(
      "WestLife for Tiny Life", 
      "https://github.com/ssblur/westlife",
      "https://steamcommunity.com/sharedfiles/filedetails/?id=3275562489&source=Facepunch.Steamworks",
      "https://tinylifegame.com/"
    )
      | WestLife is a mod for Tiny Life that adds various cowboy-themed furniture,
      | clothing, and more.
    +py-project(
      "These Two are Enemies", 
      "https://twitter.com/TwoEnemies", 
      "https://discord.com/api/oauth2/authorize?client_id=778116699958280192&permissions=2048&scope=bot", 
      "https://github.com/ssblur/TheseTwoAreEnemies"
    )
      | A Twitter and Discord bot created to answer a question: 
      | Who is this character's enemy?
      | Allows you to search for a character's enemies on Discord, or posts about characters and their 
      | enemies periodically on Twitter.
      br
      | Formerly ran off the Disney wiki, now uses Nickelodeon by default.
      | No longer works on most wikis due to Wikia changes, and would 
      | require paid API access anyways.
    +minecraft-project(
      "Redderstone", 
      "https://github.com/ssblur/redderstone",
      "https://www.curseforge.com/minecraft/mc-mods/redderstone",
      "https://modrinth.com/mod/redderstone"
    )
      | Redderstone expands redstone into a lightweight power system.
      | This project was made as part of a mod jam and has been abandoned.
    +java-project(
      "Markdown To Patchouli",
      "https://github.com/ssblur/markdown-to-patchouli"
    )
      | A work-in-progress Gradle plugin used to generate Patchouli books 
      | out of documentation written in Markdown.
    +tinylife-project(
      "Froggy Chair for Tiny Life", 
      "https://github.com/ssblur/froggy-chair",
      "https://tinylifegame.com/"
    )
      | Froggy Chair is a mod for Tiny Life that adds the eponymous Froggy Chair originally 
      | included in Animal Crossing, as well as the Lily-Pad Table.
      br
      | They are simple, yet functional furniture, with 8 mix-and-matchable color sets.
    +minecraft-project(
      "Sauced (for Burgered)", 
      "https://ssblur.com/mods/sauced.html",
      "https://github.com/ssblur/sauced/",
      "https://modrinth.com/mod/sauced/",
      "https://www.youtube.com/watch?v=hPh7OR2Mvwo"
    )
      | Sauced is an addon for Burgered that adds Sauce! 
      | Just brew an Egg into your potions and then slather on burgers to your heart's content.
      br
      | Works great with Alchimiae!
    +py-project(
      "Search and Destroy",
      "https://github.com/ssblur/Search-and-Destroy"
    )
      | Search and Destroy is a silly Discord bot designed to annoy.
      | This was made as part of a bet, and as a joke. 
      | All this bot will do is follow a user through all supported Discord servers, and play a sound 
      | when the user joins a new channel.
    +minecraft-project(
      "Literally Just Cheap Invisible Armor",
      "https://github.com/ssblur/LiterallyJustCheapInvisibleArmor",
      "https://www.curseforge.com/minecraft/mc-mods/literally-just-cheap-invisible-armor"
    )
      | What it says on the tin.
      | Not a marvel of technology by any means, but it is functional.
      | I didn't even replace the default Fabric README.
    +py-project(
      "LazySpeak",
      "https://github.com/ssblur/LazySpeak"
    )
      | A quick Python module which only exists to simplify TTS.
      | I created this for use with a Twitch helper, and for that it functions well enough.
      br
      | This will simply check for commonly used or default platform-specific TTS drivers,
      | such as SAPI or say, and use them if present.
    +py-project(
      "Nocturne Syllabizer",
      "https://github.com/ssblur/nocturne-syllabizer"
    )
      | A quick Python script for matching song lyrics against OpenBible's corpus.
      br
      | It is a step in a heuristic analysis of potential English phrases used as 
      | TTS instrumentation in SMT III: Nocturne.