extends base.pug

block title 
  title Alchimiae Magicae

block content
  h1 Alchimiae Magicae
  p Alchimiae Magicae is a vanilla-style mod which makes potion brewing more 
    | experimental and encourages mixing and matching a variety of ingredients 
    | to create new, powerful Brews.
    br
    | By making each world's effects unique, it aims to bring a bit of novelty 
    | and a sense of discovery back to Minecraft.
  h2 Videos
  div.video-container
    +youtube-video('Alchimiae Magicae: Mixing up Minecraft\'s Brewing', '_yUIWb3qlTQ')