extends base.pug

block title 
  title Itty for Tiny Life

block content
  h1 Itty for Tiny Life
  p Itty is a mod that adds super simple social media to Tiny Life! 
  p Tinies will make posts about how they feel in general and about the people,
    | places, and things around them.
    | You can choose to make posts manually, but both your Tinies and all the 
    | other Tinies in your active towns will make posts constantly.
    | Just click the new button in the top right to find out what they're 
    | thinking about.
  h2 Videos
  div.video-container
    +youtube-video('Twitter ruined my Tiny Life', '88YtrItvX5c')
    +youtube-video('Itty came back into my Tiny Life', '3aRw84tW6Aw')