extends base.pug

block title 
  title Sauced

block content
  h1 Sauced 
  p Sauced is a mod that adds one thing: Sauce! 
    | This is an addon for the mod 
    a(href="https://modrinth.com/mod/burgered") Burgered 
    | which allows you to turn potions into Sauce, to be applied 
    | liberally to your burgers.
    | Delicious!
  h2 Videos
  div.video-container
    +youtube-video('Sauced (for Burgered (for Minecraft))', 'hPh7OR2Mvwo')