extends base.pug

block title 
  title Scriptor Magicae

block content
  h1 Scriptor Magicae
  p Scriptor Magicae is a vanilla-style mod which gives words power by binding various 
    | magical effects to magic words. 
    | The words and sentence structure used to cast spells are randomized in every 
    | world, so a large part of the experience is learning how to cast magic in each 
    | new world.
  h2 Videos
  div.video-container
    +youtube-video('Scriptor Magicae: Giving Words Power in Minecraft', 'Sh31gBqIdR0')
    +youtube-video('Customizing Scriptor: Making Minecraft\'s Magic Yours', 'vLaZzCKMcQA')