include icon.pug

doctype html
head
  block title
    title { replace me }
  meta(name='description' content='The home of SSBlur')
  link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet')
  link(rel='icon' href='icon.png')
  link(rel='stylesheet' href='style/font/typicons.css')
  link(rel='stylesheet' href='style/base.css')
.link-container
  .center
    a(href='/')
      img(src='icon.png' alt='SSBlur Icon: A crayon sketch of a Slowpoke in a grey hoodie')
  .links
    .link
      a(href='projects.html') Projects
    .link
      a(href='site.html') This Site
    .link
      a(href='transparency.html') Transparency
    .link.small-link
      .links
        .link
          a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
            +icon('social-youtube')
        .link
          a(href='https://www.twitch.tv/ssblur' title='Twitch')
            +icon('message-typing')
        .link
          a(href='https://twitter.com/ssblur' title='Twitter')
            +icon('social-twitter')
        .link
          a(href='https://github.com/ssblur' title='Github')
            +icon('social-github')
.container
  block content
    p { replace me }
  br
  br