extends base.pug

block title 
  title "it's blur"

block content
  h1 Welcome
  p
    | You have landed at ssblur.com, now simpler than ever. 
    | Navigate to 
    a(href='site.html') This Site
    |  to learn more about the design decisions that went into the making of this website.
  p
    | I&apos;m blur.
    | Sometimes people call me SSBlur, blub, biub, or some dozens of other derivatives of these names.
  p
    | Some questions I get asked:
    ul
      li
        | Q: What do you do?
        ul
          li
            | In my day job, I work as a software engineer on DevOps and testing tools for a bank.
            br
            | Here, I play video games, create mods for games, build bots, and sketch Slowpokes.
            | I&apos;d recommend checking out my YouTube if you&apos;re looking for some examples.
      li
        | Q: Who edits your videos?
        ul
          li
            | Most of my highlight videos are edited by the team at 
            a(href='https://danos.works') danos.works
            | , but occasionally I&apos;ll edit one. 
            br
            | I have edited all my project videos (so far!). 
            br
            | If you are interested in editing for the channel, send pricing info to 
            a(href='mailto:info@ssblur.com') info@ssblur.com
            | , along with a portfolio if you&apos;d like.
      li
        | Q: When do you stream?
        ul
          li
            | I keep my stream schedule updated on my 
            a(href='https://www.twitch.tv/ssblur' title='Twitch')
              span.typcn.typcn-message-typing
              | Twitch
            | , though sometimes I will delay stream by an hour or two, since my job occasionally gets in the way. 
            br
            | Additionally, sometimes I&apos;ll do additional bonus streams. When I do these, I&apos;ll announce them on my 
            a(href='https://discord.gg/Uwbtmmb' title='Discord')
              span.typcn.typcn-social-discord
              | Discord
      li
        | Q: Can I get my name in your videos?
        ul
          li
            | Since I am generally supported well enough by sponsors, I don&apos;t have a Patreon and don&apos;t usually encourage subscriptions. 
            br
            | I generally do thank and interact with regular viewers / commenters, though, so feel free to drop by my streams on 
            a(href='https://www.twitch.tv/ssblur' title='Twitch')
              span.typcn.typcn-message-typing
              | Twitch
            | or leave a comment on a video on 
            a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
              span.typcn.typcn-social-youtube
              | YouTube
            | .
      li
        | Q: What does the name mean?
        ul
          li
            | SSBlur is short for &quot;Super Sonic Blur&quot;, originally stylized as SUPERSonicBlur.
            br
            | It doesn&apos;t really mean anything, I stole it from a kid when I was in elementary school.
            | He played Webkinz and their name was &quot;SonicBlur67&quot; I think.
            br
            | He then suggested I should pick up Webkinz, so I did.
            | But I had a problem: I had no idea how to pick a username.
            br
            | Well, I wanted something better than &quot;SonicBlur&quot;.
            br
            | So I picked &quot;SUPERSonicBlur&quot;.
            br
  p
    | This site serves as a portal for information about my public endeavors, such as coding projects, videos, streams, and status updates.
    | At the right of the navigation bar you will find links to my 
    a(href='https://www.youtube.com/channel/UC87-8FM-U9OSUYCzIqlhztA' title='YouTube')
      span.typcn.typcn-social-youtube
      | YouTube
    |                 ,
    a(href='https://www.twitch.tv/ssblur' title='Twitch')
      span.typcn.typcn-message-typing
      | Twitch
    |                 ,
    a(href='https://twitter.com/ssblur' title='Twitter')
      span.typcn.typcn-social-twitter
      | Twitter
    |                 , and my 
    a(href='https://github.com/ssblur' title='Github')
      span.typcn.typcn-social-github
      | Github
    | .
    | Under 
    a(href='projects.html') Projects
    | , you will find information on some projects I liked enough to document, mainly bots.
    | Under 
    a(href='transparency.html') Transparency
    | , you will find information on all money earned directly or indirectly through the platforms noted here
    | (more information is available on the page).