extends base.pug

block title 
  title The making of ssblur.com

block content
  h1 This Site
  p
    | In short, I wanted a place to put information. Websites are good at that.
    br
    | It's mainly plain HTML and CSS because I was tired of fancy JavaScript frameworks and PWAs.
    br
    | I wanted a simple site which would just work, everywhere.
    br
    | Now, I couldn't resist myself, so I still set this up with templating to ease my workload a bit.
  h2 Behind the Scenes
  | The site is a static site generated using a small Node application running on 
  a(href='https://pugjs.org/api/getting-started.html') Pug
  | .
  br
  | Essentially, it just lets me avoid updating multiple files when I update the site, and makes 
  | rendering certain components easier.
  br
  | This site uses basic CSS, one custom font, and one icon font, 
  a(href='https://www.s-ings.com/typicons/') Typicons
  | .
  br
  br
  | You can find the source code for this site on 
  a(href='https://github.com/ssblur/ssblur-com-simple' title='Github')
    +icon('social-github')
    | Github
  | .