.link-container > .center {
    position: relative;
    left: 45%;
    border-radius: 50%;
    border: solid 0px #0000;
    width: 10%;
    height: 10%;
    overflow: hidden;
    margin-bottom: 24px;
}
