* {
    font-family: 'Quicksand';
    color: #fff;
}

body {
    background-color: #000;
}

img.big-logo {
    width: 100%;
    height: auto;
}

.link-container {
    width: 100%;
}

.link-container > .center {
    position: relative;
    left: 45%;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 10%;
    height: 10%;
    overflow: hidden;
    margin-bottom: 24px;
}

.center > * > img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

.center > .quote {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.center > a:hover + .quote {
    display: none;
}

.center > a:hover:after {
    content: "home";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    text-align: center;
    line-height: 200px;
    font-size: 40px;
}

.links {
    width: 66%;
    position: relative;
    left: 16.665%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links > a {
    text-decoration: none;
}

.link, .fake-link {
    flex-grow: 4;
    height: 24px;
}

.big-link {
    width: calc(33.33% - 16px);
    height: auto;
    padding: 8px;
    text-decoration: none;
}

.big-link > span {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 24pt;
}

.big-link:hover {
    background-color: #fff2;
}

.small-link {
    flex-grow: 1;
    min-width: fit-content;
}

.link:hover {
    background-color: #fff2;
}

.link-container > .links > .link, .link-container > .links > .fake-link {
    border: 1px solid #fff4;
}

.link > a, .fake-link > a {
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

.container {
    border-left: 1px solid #fff4;
    margin-left: calc(16.665%);
    margin-right: calc(16.665% - 26px);
    padding-left: 12px;
    padding-right: 12px;
    overflow-x: hidden;
    width: calc(66.64% - 38px);
    background: linear-gradient(to left, #000, #222);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.project {
    position: relative;
    flex-grow: 1;
    width: calc(50% - 28px);
    margin: 8px;
    padding: 6px;
    background-color: #ffd1;
}

.project-links {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0002;
    max-width: 50%;
    overflow: hidden;
    font-size: 18pt;
}

.project-links > a {
    text-decoration: none;
}

table.transparency {
    background-color: #ffd1;
    border: solid 1px #fff;
    text-align: center;
    width: 100%;
}

table.transparency td {
    border-bottom: solid 1px #fff2;
}

table.transparency th {
    background-color: #ffffff05;
    font-size: 24pt;
}

@media(max-width: 940px) {
    .links {
        width: 100%;
        position: relative;
        left: 0;
        text-align: center;
    
        display: flex;
    }

    .big-link {
        position: relative;
        padding-left: 33%;
        padding-right: 33%;
        width: 34%;
    }

    .big-link > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        font-size: 10vw;
        padding: 8px;
        transform: translate(-50%, -50%);
        background-color: #0009;
    }

    .project {
        width: calc(100% - 28px);
    }

    .container {
        margin: 0;
        padding: 5px;
        border: none;
        overflow-x: hidden;
        width: calc(100% - 10px);
    }

    .link-container > .center {
        width: 100%;
        height: 80px;
        border: none;
        overflow: hidden;
        border-radius: 0px;
        position: relative;
        left: 0;
        top: 0;
    }

    .center > * > img {
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: -50%;
        border-radius: 0px;
        transform: translateY(-50%);
    }
    
    .center > .quote {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
    }
}