extends base.pug

block title 
  title= name
    |  Home

block content
  br
  br
  | Welcome to my site! I'm 
  = name
  | , a software developer and hobbyist video editor.
  | Here you can find information about projects I've worked on, contact information, and 
  | work experience, as well as some smaller things I enjoy.
  br
  | Below, you can check out my 
  a(href='https://github.com/ssblur' title='Github')
      +icon('social-github')
      | Github
  | , or you can see a quick summary of a number of my projects by clicking 
  a(href='projects.html' title='Projects') Projects 
  | in the navigation bar.
  .links 
    a(href="https://github.com/ssblur").big-link
        img(src="style/images/github.png", alt="GitHub").big-logo
        span GitHub